<header>
 <h1>Spotify API Playground</h1>
</header>
    <div class="artist-image"></div>
    <div class="album" id="album">
        <div class="album--cover"></div>
        <div class="album--info">
            <h3 class="info--title"></h3>
            <p class="info--subtext">:panda_face:</p>
        </div>
    </div>
    <canvas id="myChart"></canvas>
    <script src="scripts/chartFunc.js"></script>
	<script>
		let artistImage = urlParams.get('artistImage');
		$('.artist-image').css('background','url('+artistImage+')');
		$('.artist-image').css('background-position','center');
		$('.artist-image').css('background-size','cover');
	</script>