<header>
	<h1 class="artist-name"></h1>
</header>
<div class="information-container">
	<div class="artist-container">
		<div id="artist-image-header" class="artist-image"></div>
		<div id="album">
			<div class="cover-container">
				<div class="album--cover"></div>
				<h3 class="album--title"></h3>
			</div>
			<ul class="info--subtext"></ul>
		</div>
	</div>
	<div id="loading">
		<div class="triple-spinner"></div>
	</div>
	<div id="outer">
		<div id="noalbums">
			<h4>Sorry, we couldn't find any albums for this artist. Maybe search again? ¯\_(ツ)_/¯</h4>
		</div>
		<canvas id="myChart"></canvas>
		<br />
		<a href="/" id="returnHome">
			<button class="btn btn-light">Search again</button>
		</a>
	</div>
</div>


<script src="scripts/chartFunc.js"></script>
<script>
	let artistImage = urlParams.get('artistImage');
	let artistName = urlParams.get('artistName');
	$('.artist-image').css('background', 'url(' + artistImage + ')');
	$('.artist-image').css('background-position', 'center');
	$('.artist-image').css('background-size', 'cover');
	$('.artist-name').text(artistName);
</script>