<header>
	<h1 class="artist-name">Spotify API Playground</h1>
</header>
<div class="information-container">
	<div class="artist-container">
		<div id="artist-image-header" class="artist-image"></div>
		<div id="album">
			<div class="cover-container">
				<div class="album--cover"></div>
				<h3 class="album--title"></h3>
			</div>
			<ul class="info--subtext"></ul>
		</div>
	</div>
	<div id="loading">
		<img src="img/loading.gif"/>
	</div>
	<div id="outer">
		<canvas id="myChart"></canvas>
	</div>
</div>

<script src="scripts/chartFunc.js"></script>
<script>
	let artistImage = urlParams.get('artistImage');
	let artistName = urlParams.get('artistName');
	$('.artist-image').css('background', 'url(' + artistImage + ')');
	$('.artist-image').css('background-position', 'center');
	$('.artist-image').css('background-size', 'cover');
	$('.artist-name').text(artistName);
</script>