    <header>
      <h1>Spotify API Playground</h1>
    </header>

    <!--<main>
      
      <section style="background-color:#F573A0;color:white;">
        <h2>Search for a Track</h2>
        <input type="text" placeholder="Search for a track" id="trackSearch" 
                          value="1, 2, 3" data-bind="value: trackSearch">
        <button data-bind="click: searchTrack">Search</button><br />-->
        <!--ko foreach: tracks-->
          {{!-- <div class="track-result">
            <img alt="album cover" data-bind="attr: { src: imageUrl }">
            <h3 data-bind="text: albumName" style="text-align: center;"></h3>
          </div> --}}
        <!--/ko-->
       <!-- <div id="search-track-container"></div>
      </section>
      
      <section style="background-color:#503750;color:white;">
        <h2>Browse: Get a Category's Playlists</h2>
        <div id="category-playlists-container"></div>
      </section>
      
      <section style="background-color:#FF4632;color:white;">
        <h2>Get Audio Features for a Track</h2>
        <div id="audio-features-container"></div>
      </section>
      
      <section style="background-color:#509BF5;color:white;">
        <h2>Get an Artist</h2>
        <div id="artist-container"></div>
      </section>
      
      <section style="background-color:#F59B23;color:white;">
        <h2>Get an Artist's Top Tracks</h2>
        <ol id="top-tracks-container"></ol>
      </section>
      
    </main>-->
	<input type="text" placeholder="Search for a track" id="trackSearch" data-bind="value: trackSearch">
	<button data-bind="click: searchTrack">Search</button><br />
	<div class="album" id="album">
		<div class="album--cover"></div>
		<div class="album--info">
			<h3 class="info--title"></h3>
			<p class="info--subtext">🐼</p>
		</div>
	</div>
	<canvas id="myChart"></canvas>
	<script src="scripts/chartFunc.js"></script>