    <header>
      <h1>Spotify API Playground</h1>
      <a class="pull-right" href="https://glitch.com/edit/#!/spotify-playground">
        <button class="btn btn-lg btn-primary">Get started</button>
      </a>
    </header>

    <main>
      
      <section style="background-color:#F573A0;color:white;">
        <h2>Search for a Track</h2>
        <div id="search-track-container"></div>
      </section>
      
      <section style="background-color:#503750;color:white;">
        <h2>Browse: Get a Category's Playlists</h2>
        <div id="category-playlists-container"></div>
      </section>
      
      <section style="background-color:#FF4632;color:white;">
        <h2>Get Audio Features for a Track</h2>
        <div id="audio-features-container"></div>
      </section>
      
      <section style="background-color:#509BF5;color:white;">
        <h2>Get an Artist</h2>
        <div id="artist-container"></div>
      </section>
      
      <section style="background-color:#F59B23;color:white;">
        <h2>Get an Artist's Top Tracks</h2>
        <ol id="top-tracks-container"></ol>
      </section>
      
    </main>

    <footer>
      <a href="https://glitch.com/edit/#!/spotify-playground">
        <button class="btn btn-lg btn-primary">Get started</button>
      </a>
      <a href="https://twitter.com/imariari"><p>Made by Arielle Vaniderstine</p></a>
    </footer>

