<header>
  <h1>Spotify API Playground</h1>
</header>

<main class="body">

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  <section>
    <div style="width: 50%; margin: 0 auto; padding-bottom: 100px">
      <h2 style="text-align: center;">Search for an Artist</h2>
      <div style="width: 50%; margin: 0 auto;" class="text-center">
        <input  type="text" placeholder="Search for an Artist" id="artistSearch" data-bind="value: searchBoxVal, enterKey: searchArtists" class="form-control"> <br>
        <button type="button" style="display: inline-block" class="btn btn-info" data-bind="click: searchArtists">
          <span class="glyphicon glyphicon-search"></span> Search
        </button>
      </div>
    </div>

    <div class="artist-result" data-bind="foreach: searchResult" style="width: 100%; padding-top=100px; display: flex; justify-content: space-between;">
      <div style="display: inline-block; width=300px">
        <a data-bind="attr: { href: '/chart?artistId=' + artistId }">
          <img alt="artist image" data-bind="attr: { src: imageUrl }">
        </a>
        <h3 data-bind="text: artistName" style="text-align: center;"></h3>
      </div>
    </div>
    
    </div>
    <div id="search-artists-container"></div>
  </section>

  
</main>
