<header>
  <h1>Mood Swinger</h1>
</header>

<main>
	<section class="welcome-section">
		<h2>Welcome to Mood Swinger!</h2>
		<h3>Search for your favourite artists and see how their albums have changed over the years.</h3>
	</section>
	<section class="search-section">
		<div class="search--box">
			<div style="width: 35%; margin: 0 auto;" class="text-center">
				<input  type="text" placeholder="Search for an Artist" id="artistSearch" data-bind="value: searchBoxVal, enterKey: searchArtists" class="form-control"> <br>
				<button type="button" style="display: inline-block" class="btn btn-info" data-bind="click: searchArtists">
					<span class="glyphicon glyphicon-search"></span> Search
				</button>
			</div>
		</div>
		<div class="search--result">
			<div class="preSetArtists--container" data-bind="foreach: searchResult">
				<div class="preSetArtists">
					<a data-bind="attr: { href: '/chart?artistId=' + artistId + '&artistImage=' + imageUrl  + '&artistName=' + artistName }">
					<img alt="artist image" data-bind="attr: { src: imageUrl }">
					</a>
					<h3 data-bind="text: artistName" style="text-align: center;  max-width: 300px"></h3>
				</div>
			</div>
			<div class="noResultSection" data-bind="visible: showNoArtistResultSection">
				<p>Sorry, I could not find any artist by this name. Maybe try again?</p>
			</div>
		</div>
	</section>
	<section class="suggestions-section">
		<h2>Can't think of any artists? </h2>
		<div class="preSetArtists--container">
			<!--ko foreach: preSetArtistSelection-->
			<div class="preSetArtists">
				<a data-bind="attr: { href: '/chart?artistId=' + artistId + '&artistImage=' + imageUrl  + '&artistName=' + artistName }">
					<img alt="artist image" data-bind="attr: { src: imageUrl }">
				</a>
				<h3 data-bind="text: artistName" style="text-align: center;"></h3>
			</div>
			<!--/ko-->
		</div>
	</section>
</main>
