<header>
 <h1>Spotify API Playground</h1>
</header>
    
    <div class="album" id="album">
        <div class="album--cover"></div>
        <div class="album--info">
            <h3 class="info--title"></h3>
            <p class="info--subtext"></p>
        </div>
    </div>
    <canvas id="myChart"></canvas>
    <script src="scripts/chartFunc.js"></script> 